<% if @articles.empty? %>
  <h1>No articles created yet!</h1>
<% else %>
  <% @articles.each do |article| %>
      <div class="col-md-4">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title"><%= link_to article.title, article_path(article) %></h3>
          </div>
          <div class="panel-body">
            <%= article.body.truncate(200) %>
            <p><%= link_to 'Read More', article_path(article), class: 'btn btn-info btn-sm' %></p>
          </div>
          <div class="panel-footer">
            <p>Created by: <%= article.user.email %></p>
          </div>
        </div>
      </div>
  <% end %>
<% end %>

