<div class="jumbotron">
  <div class="container text-center">
    <h1><%= @article.title %></h1>
    <div class="fa fa-calendar">
      <%= @article.created_at.strftime('%b %d, %Y') %>
    </div>
  </div>
</div>

<div class="col-md-10 col-md-offset-1">
  <div class="panel panel-default">
    <div class="panel-body">
      <p class="lead"><%= @article.body %></p>
    </div>
  </div>
  <%= link_to 'Edit Article', edit_article_path(@article), class: 'btn btn-info btn-large btn-space' %>
</div>

